html, body {
  background-color: #dfd9fc;
  font-family: "Book Antiqua", serif;
}

.header {
  color: #fff!important;
  background-color: #342482!important;
}

h1 {
  font-family: "Lucida Sans Console", sans-serif;
  font-size: 6em;
  text-align: center;

}

p {
  font-family: Georgia, serif;
  font-size: 1em;
  text-align: center;
}

div {}

ul {}

img {}

.img {}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none
}

.button {
  width: 20%;
  text-align: left;
  padding: 8px 16px;
  border: none;
}

.border-right {
  border-right: 1px solid #ccc!important
}

.xlarge {
  font-size: 48px!important;
  border: none;
}


.large {
  font-size: 18px!important
}

.container {}

.title {
  height: 8em;
}
